/* Customise the Navigation Bar */
.navbar {
    background-color:#181818;
}

.navbar a {
    color:grey;
    float: left;
	display: block;
	padding: 14px 16px;
	text-decoration: none;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
}
.navbar a:hover {
    color:#FF9900;
}

.nav-item.active .nav-link{
    color: white;
}


.dropdown-menu {
    background-color: #181818;
}

.dropdown-menu a:hover{
    background-color: #181818;
}

i{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Customise Background and other features for the main body*/
body {
    background-color: #E6E8E6;
    overflow: auto;
}

/* Customise look of the content boxes */
.content-box {
    background: grey;
    box-shadow: 5px 5px 5px #aaaaaa;
    border-radius: 5px;
}

/* Customise Status Box*/
.status-box {
    background-color:white;
    padding-top: 2px;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
}

/* Gap Between Rows */
.top-buffer { margin-top:20px; }

/* Author Profile Image*/
.author-profile {
    width: 50%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Remove UL Dots */
ul {
    list-style-type: none;
}