/* Customise the Navigation Bar */
.navbar {
    background-color:#181818;
}

.navbar a {
    color:grey;
    float: left;
	display: block;
	padding: 14px 16px;
	text-decoration: none;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
}

.navbar a:hover {
    color:#F39237;
}

/*.nav-item.active .nav-link{
    color: white;
    background: white;
}*/


.dropdown-menu {
    background-color: #181818;
}

.dropdown-menu a:hover{
    background-color: #181818;
}

i{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Customise Background and other features for the main body*/
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab .nav-tabs{
    border: none;
    margin-bottom: 20px;
}
.tab .nav-tabs li a{
    margin-right: 15px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    background: #aaaaaa;
    position: relative;
    padding: 10px;
    transition: all 0.5s ease 0s;

}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
    color: #F39237;
    background: #272626;
}
.tab .tab-content{
    padding: 20px;
    background: #272626;
    box-shadow: 5px 5px 0 0 #aaaaaa;
    border: 1px solid #aaaaaa;
    font-size: 15px;
    color: rgb(194, 193, 193);
    line-height: 25px;
    letter-spacing: 1px;
    border-radius: 5px;
}
.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
    border-radius: 5px;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
}

/* Customise look of the content boxes */
.content-box {
    background: #272626;
    box-shadow: 5px 5px 5px #aaaaaa;
    border-radius: 5px;
    color: rgb(194, 193, 193);
}

/* Customise Status Box*/
.status-box {
    background-color:white;
    padding-top: 2px;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
    height: 80px;
}
/* Post Name Links*/
.users-name {
    text-decoration: none; 
    color: rgb(194, 193, 193);
}

.users-name:hover {
    text-decoration: none;
    color: #F39237;
}

/* Images in posts */
.img-thumbnail {
    padding: 0;
    border: 0;
}

/* Hide Profile pictures on smaller screens*/
@media (max-width: 400px) {
    #user-img {
        display: none;
    }
}


/* Gap Between Rows */
.top-buffer { margin-top:20px; }

/* Author Profile Image*/
.author-profile {
    width: 50%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Social Media Icons */
.socials {
    padding: 20px;
    width: 100px;
    text-align: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.socials:hover {
    text-decoration: none;
    color: #F39237;
}

/* Remove UL Dots */
ul {
    list-style-type: none;
}


/* Sticky Element */
div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }